
<div class="col-12">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">{$sale->name}</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<p>Created at: {$sale->createdAt|date}</p>
					<p>Active from: {$sale->activeFrom|date}</p>
					<p>Active to: {$sale->activeTo|date}</p>
					<p>Color: #{$sale->color}</p>
				</div>
			</div>
		</div>
	</div>
</div>