services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Security\MyAuthenticator
	- App\Model\HomepageModel
	- App\Model\AdminModel

	- App\Factory\SaleGridFactory
	- App\Factory\UserGridFactory
	- App\Factory\PassEditFormFactory

