services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Security\MyAuthenticator
	- App\Model\SaleModel
	- App\Model\TagModel
	- App\Model\UserModel

	- App\Factory\SaleGridFactory
	- App\Factory\UserGridFactory
	- App\Factory\PassEditFormFactory

