{block content}
	<div class="row">

		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>přihlášení</h4>
				</div>
				<div class="card-body">
					{control loginForm}
				</div>
			</div>
		</div>
	</div>
{/block}